@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
}

gray_placeholder::placeholder {
  color: #6b7280;
  opacity: 1;
}

.paragraph-gray {
  color: #4b5563;
}

.purple-bg {
  background-color: #6366f1;
}

.gray-border {
  border: 1px solid #e5e7eb;
}
