.dashboardContainer {
    margin-top: 2%;
    text-align: center;
}

.noExams p {
    font-size: 20px;
    margin: auto;
    margin-top: 10%;
}

.rowsDisplay {
    width: 60%;
    margin: auto;
    margin-top: 3%;
    padding: 20px; 
    border-radius: 8px; 

}

.row {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #DBE0E5;
    margin-left: none;
}

.row h3 {
    text-align: left;
}


.rowCharacteristics {
    text-align: left;
}

.viewButton {
    background-color: #F3F2EE;
    border: none;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
}

.viewButton:hover {
    background-color: #E0E0E0;
    scale: 1.05;
    transition: scale 0.5s ease;
}