:root {
    --button-colour:#1A80E5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';
}
  
ul {
    list-style: none;
}
  
a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

  
.navbar {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.links  {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    cursor: pointer;
}

.logIn a {
    background-color: var(--button-colour);
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
  
.logo a {
    font-size: 25px;
    font-family: 'Plus Jakarta Sans', Helvetica, sans-serif;
}
  
.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
  
.line{
    width: 100%;  
    height: 2px;  
    background-color: #d8d8d8;  
}

.logOutButton {
    background-color: #ff4d4d;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

@media screen and (max-width: 780px){

    /* hamburger */
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .bar {
            background-color: #120f0b;
            width: 20px;
            height: 3px;
            display: block;
            margin: 5px;
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
        }

    /* adding active class to the bars  */
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }


    /* navMenu */

    .navMenu{
        position: absolute;
        flex-direction: column;
        gap: 0;
        top: 70px;
        left: -100%;
        text-align: start;
        width: 100%;
        transition: 0.7s ease-in-out;
        background-color: aliceblue;
        padding: 10px;
    }

    .navMenu.active{
        left: 0;
    }

    .navMenu li {
        margin: 16px 0;
    }
}
